In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df = pd.read_csv(r'/content/drive/MyDrive/Colab Notebooks/StudentsPerformance.csv')
df.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
#Checking for Null Values
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#Feature Engineering

In [9]:
#Change Female = 1 and Male = 1
df.gender = [1 if each == "female" else 0 for each in df.gender]
df.gender.value_counts()

1    518
0    482
Name: gender, dtype: int64

In [10]:
y = df.gender
df.drop(["gender"],axis = 1 , inplace = True)
df.columns

Index(['race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [12]:
#Final Dataset with Conversion of Categorical Variables into Respected Columns
final = pd.get_dummies(df,columns = ["race/ethnicity","lunch","parental level of education",
                                      "test preparation course"])
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   math score                                      1000 non-null   int64
 1   reading score                                   1000 non-null   int64
 2   writing score                                   1000 non-null   int64
 3   race/ethnicity_group A                          1000 non-null   uint8
 4   race/ethnicity_group B                          1000 non-null   uint8
 5   race/ethnicity_group C                          1000 non-null   uint8
 6   race/ethnicity_group D                          1000 non-null   uint8
 7   race/ethnicity_group E                          1000 non-null   uint8
 8   lunch_free/reduced                              1000 non-null   uint8
 9   lunch_standard                                  1000 non-null   uint8
 10  parental level of education_associate's degree  1000 non-null   uint8
 11  parental level of education_bachelor's degree   1000 non-null   uint8
 12  parental level of education_high school         1000 non-null   uint8
 13  parental level of education_master's degree     1000 non-null   uint8
 14  parental level of education_some college        1000 non-null   uint8
 15  parental level of education_some high school    1000 non-null   uint8
 16  test preparation course_completed               1000 non-null   uint8
 17  test preparation course_none                    1000 non-null   uint8
dtypes: int64(3), uint8(15)
memory usage: 38.2 KB

In [13]:
x = final.astype(int)
x

     math score  ...  test preparation course_none
0            72  ...                             1
1            69  ...                             0
2            90  ...                             1
3            47  ...                             1
4            76  ...                             1
..          ...  ...                           ...
995          88  ...                             0
996          62  ...                             1
997          59  ...                             0
998          68  ...                             0
999          77  ...                             1

[1000 rows x 18 columns]

In [14]:
#Noramlise Data using Simple Technique
x= (final-np.min(final)) / (np.max(final)-np.min(final))

In [15]:
x

     math score  ...  test preparation course_none
0          0.72  ...                           1.0
1          0.69  ...                           0.0
2          0.90  ...                           1.0
3          0.47  ...                           1.0
4          0.76  ...                           1.0
..          ...  ...                           ...
995        0.88  ...                           0.0
996        0.62  ...                           1.0
997        0.59  ...                           0.0
998        0.68  ...                           0.0
999        0.77  ...                           1.0

[1000 rows x 18 columns]

In [22]:
#SkLearn Library Work Starts Here Spliting Data
from sklearn.model_selection import train_test_split
x_train , x_test , y_train, y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

#Prediction

1. Support Vector Machine

In [23]:
from sklearn.svm import SVC
svm1 = SVC(gamma = 0.01 , C = 500 , kernel = "rbf")
svm1.fit(x_train,y_train)
svm1_score = svm1.score(x_test,y_test)
print("Accuracy : ", svm1_score)

Accuracy :  0.925

2. K-Nearest Neighbour

In [24]:
knn_list = []
from sklearn.neighbors import KNeighborsClassifier
for each in range(1,100):
    knn1 = KNeighborsClassifier(n_neighbors = each,weights = "uniform",metric = "euclidean" )
    knn1.fit(x_train,y_train)
    knn1_score = knn1.score(x_test,y_test)
    knn_list.append(knn1_score)
knn_max = np.max(knn_list)
print("Accuracy= ",knn_max)

Accuracy=  0.75

3. Logistic Regression

In [25]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(C = 10.0, penalty = "l2")
lr.fit(x_train,y_train)
print("Logistic Regression Max Score : ",lr.score(x_test,y_test))
lr_max = lr.score(x_test,y_test)

Logistic Regression Max Score :  0.915

4.Random Forest Classifier

In [26]:

score_list = []
from sklearn.ensemble import RandomForestClassifier
for each in range (1,100):
    rf = RandomForestClassifier(n_estimators = each,random_state = 7,bootstrap = "False",criterion="gini",
                                    min_samples_split = 10 , min_samples_leaf = 1)
    rf.fit(x_train,y_train)
    score_list.append(rf.score(x_test,y_test))
    
rf_max = np.max(score_list)
print("RF Max Score : ",rf_max)

RF Max Score :  0.9